<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @symptom.description %>
</p>

<p>
  <strong>Admission:</strong>
  <%= @symptom.admission %>
</p>

<%= link_to 'Edit', edit_symptom_path(@symptom) %> |
<%= link_to 'Back', symptoms_path %>
