<p id="notice"><%= notice %></p>

<p>
  <strong>Coding system:</strong>
  <%= @diagnosis.coding_system %>
</p>

<p>
  <strong>Code:</strong>
  <%= @diagnosis.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @diagnosis.description %>
</p>

<p>
  <strong>Admission:</strong>
  <%= @diagnosis.admission %>
</p>

<%= link_to 'Edit', edit_diagnosis_path(@diagnosis) %> |
<%= link_to 'Back', diagnoses_path %>
