<p id="notice"><%= notice %></p>

<h1>Order Frequencies</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Unit</th>
      <th>Medication order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_frequencies.each do |order_frequency| %>
      <tr>
        <td><%= order_frequency.value %></td>
        <td><%= order_frequency.unit %></td>
        <td><%= order_frequency.medication_order %></td>
        <td><%= link_to 'Show', order_frequency %></td>
        <td><%= link_to 'Edit', edit_order_frequency_path(order_frequency) %></td>
        <td><%= link_to 'Destroy', order_frequency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Frequency', new_order_frequency_path %>
