<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @alergy.description %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @alergy.patient %>
</p>

<%= link_to 'Edit', edit_alergy_path(@alergy) %> |
<%= link_to 'Back', alergies_path %>
