<p id="notice"><%= notice %></p>

<h1>Template Fields</h1>

<table>
  <thead>
    <tr>
      <th>Field name</th>
      <th>Placeholder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @template_fields.each do |template_field| %>
      <tr>
        <td><%= template_field.field_name %></td>
        <td><%= template_field.placeholder %></td>
        <td><%= link_to 'Show', template_field %></td>
        <td><%= link_to 'Edit', edit_template_field_path(template_field) %></td>
        <td><%= link_to 'Destroy', template_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template Field', new_template_field_path %>
