<p id="notice"><%= notice %></p>

<h1>Diagnostic Procedures</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Moment</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnostic_procedures.each do |diagnostic_procedure| %>
      <tr>
        <td><%= diagnostic_procedure.description %></td>
        <td><%= diagnostic_procedure.moment %></td>
        <td><%= diagnostic_procedure.patient %></td>
        <td><%= link_to 'Show', diagnostic_procedure %></td>
        <td><%= link_to 'Edit', edit_diagnostic_procedure_path(diagnostic_procedure) %></td>
        <td><%= link_to 'Destroy', diagnostic_procedure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diagnostic Procedure', new_diagnostic_procedure_path %>
