<p id="notice"><%= notice %></p>

<h1>Medication Orders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit</th>
      <th>Dosage</th>
      <th>Route</th>
      <th>Necessity</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medication_orders.each do |medication_order| %>
      <tr>
        <td><%= medication_order.name %></td>
        <td><%= medication_order.unit %></td>
        <td><%= medication_order.dosage %></td>
        <td><%= medication_order.route %></td>
        <td><%= medication_order.necessity %></td>
        <td><%= medication_order.patient %></td>
        <td><%= link_to 'Show', medication_order %></td>
        <td><%= link_to 'Edit', edit_medication_order_path(medication_order) %></td>
        <td><%= link_to 'Destroy', medication_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medication Order', new_medication_order_path %>
