<div class='container'>
  <div class="row">
    <div class="col border bg-light">
      <h5><%="Emergency Transfer Summary (Form 34L-D)"%></h5>
    </div>
  </div>
  <div class="row" style="height: 30px">
    <div class="col border">
      <h6><%="Transferring Facility"%></h6>
    </div>
  </div>
  <div class="row" style="height: 60px">
    <div class="col-2 border">
      <%= template_field('name') %>
    </div>
    <div class="col-10 border"></div>
  </div>
  <div class="row" style="height: 30px">
    <div class="col border">
      <h6><%="Patient Information"%></h6>
    </div>
  </div>
  <div class="row">
    <div class="col border">
      <div class='h6'>First Name</div>
      <%= template_field('first_name') %>
    </div>
    <div class="col border">
      <div class='h6'>Middle Name</div>
      <%= template_field('middle_name') %>
    </div>
    <div class="col border">
      <div class='h6'>Last Name</div>
      <%= template_field('last_name') %>
    </div>
    <div class="col border">
      <div class='h6'>Medical Record (MR)</div>
      <%= template_field('medical_record_(mr)') %>
    </div>
  </div>
  <div class="row" style="height: 200px">
    <div class="col-12 border">
      <div class='h6'>Summary</div>
      <%= template_field('summary') %>
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-lg" onclick='printPage()'>Print</button>
</div>
