<div class='container'>
  <div class="row">
    <div class="col border bg-light">
      <h5><%="Emergency Transfer Summary (Form 34L-D)"%></h5>
    </div>
  </div>
  <div class="row" style="height: 30px">
    <div class="col border">
      <h6><%="Transferring Facility"%></h6>
    </div>
  </div>
  <div class="row" style="height: 60px">
    <%= template_field('name', col: 'col-2') %>
    <div class="col-10 border"></div>
  </div>
  <div class="row" style="height: 30px">
    <div class="col border">
      <h6><%="Patient Information"%></h6>
    </div>
  </div>
  <div class="row">
    <%= template_field('first_name') %>
    <%= template_field('middle_name') %>
    <%= template_field('last_name') %>
    <%= template_field('mr', header: 'Medical Record (MR)') %>
  </div>
  <div class="row" style="height: 150px">
    <%= template_field('summary', col: 'col-12') %>
  </div>
  <button type="button" class="btn btn-primary btn-lg" onclick='printPage()'>Print</button>
</div>
