<p id="notice"><%= notice %></p>

<p>
  <strong>Moment:</strong>
  <%= @admission.moment %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @admission.patient %>
</p>

<%= link_to 'Edit', edit_admission_path(@admission) %> |
<%= link_to 'Back', admissions_path %>
